<!DOCTYPE html>
<html>
<head>
	<title>Transcript Notes Form</title>
</head>
<body>
	<h1>Transcript Notes Form</h1>
	<form action="generate_transcript" method="POST">
		<fieldset>
			<legend>Module 1 Notes</legend>
			<label for="module1">Notes:</label>
			<input type="number" id="module1" name="module1"/>
		</fieldset>
		<fieldset>
			<legend>Module 2 Notes</legend>
			<label for="module2">Notes:</label>
			<input type="number" id="module2" name="module2"/>
		</fieldset>
		<fieldset>
			<legend>Module 3 Notes</legend>
			<label for="module3">Notes:</label>
			<input type="number" id="module3" name="module3"/>
		</fieldset>
		<input type="submit" value="Submit Notes">
	</form>
</body>
</html>
